.courses-page {
    .breadcrumb__list {
        @include for-750-px {
            flex-wrap: wrap;
        }
        &-item {
            font-size: 16px;
            line-height: 19px;
            @include for-1200-px {
                padding-right: 20px;
                margin-right: 20px;
                font-size: 12px;
                line-height: 15px;
            }
            @include for-750-px {
                margin-right: 10px;
                font-size: 9px;
                line-height: 12px;
            }
            &:last-child {
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #ad475c;
                width: 550px;
                overflow: hidden;
                @include for-750-px {
                    padding-right: 0;
                    margin-top: 6px;
                    text-overflow: initial;
                    white-space: normal;
                    width: auto;
                    overflow: initial;
                }
            }
        }
    }

    .title-h1 {
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 35px;
        color: #000000;
        font-family: "ZonaPro";
        position: relative;
        @include for-1200-px {
            margin-bottom: 40px;

            line-height: 42px;
        }
        @include for-750-px {
            margin-bottom: 30px;

            font-size: 24px;
            line-height: 140%;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -30px;
            width: 100%;
            border-bottom: 3px solid #ad475c;
            @include for-1200-px {
                bottom: -20px;
            }
            @include for-750-px {
                bottom: -10px;
            }
        }
    }
    .title-h2 {
        margin-bottom: 70px;
        padding-right: 395px;
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 150%;
        color: #000000;
        font-family: "ZonaPro";
        position: relative;
        @include for-1200-px {
            padding-right: 0;
            margin-bottom: 40px;
            line-height: 140%;
        }
        @include for-750-px {
            margin-bottom: 30px;
            font-size: 24px;
            line-height: 140%;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -30px;
            width: 100%;
            border-bottom: 3px solid #ad475c;
            @include for-1200-px {
                width: 200%;
                left: -50%;
                bottom: -20px;
            }
            @include for-750-px {
                bottom: -10px;
            }
        }
    }
    .hr {
        max-width: 1140px;
        margin: 30px auto 20px;
        border-bottom: 3px solid #ad475c;
        @include for-1200-px {
            margin: 20px auto 20px;
        }
        @include for-750-px {
            margin: 10px auto 20px;
        }
    }
    .categories {
        margin: 0;
        height: min-content;
        grid-area: categories;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: start;
        @include for-750-px {
            gap: 16px;
        }
        &-item {
            padding: 14px 24px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 17px;
            color: #b2aaaa;
            border: 1px solid #b2aaaa;
            @include for-750-px {
                padding: 10px 12px;
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
    .button {
        padding: 14px 24px;
        color: #ffffff;
        background: #ad475c;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        border: 1px solid #ad475c;
        cursor: pointer;
        transition: 0.3s;
        color: #ffffff;
        &:hover {
            background: #ffffff;
            color: #ad475c;
        }
        &.reverse {
            background: #ffffff;
            color: #ad475c;
            &:hover {
                background: #ad475c;
                color: #ffffff;
            }
        }
    }
}
