.courses-page {
    .promo {
        margin-bottom: 100px;
        display: grid;
        column-gap: 60px;
        row-gap: 40px;
        grid-template-columns: 1fr 366px;
        grid-template-areas:
            "categories promo-banner"
            "text-content promo-banner"
            "time-description promo-banner"
            "text-description promo-banner";
        @include for-1200-px {
            margin-bottom: 60px;
            grid-template-columns: 1fr 311px;
            column-gap: 12px;
            grid-template-areas:
                "categories categories"
                "text-content promo-banner"
                "time-description promo-banner"
                "text-description promo-banner";
        }
        @include for-750-px {
            margin-bottom: 40px;
            row-gap: 20px;
            grid-template-columns: 1fr;

            grid-template-areas:
                "categories"
                "text-content"
                "time-description"
                "text-description"
                "promo-banner";
        }
        .text-content {
            grid-area: text-content;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 140.02%;
            color: #000000;
            @include for-750-px {
                font-size: 16px;
            }
        }
        .time-description {
            grid-area: time-description;
            flex-wrap: wrap;
            display: flex;
            gap: 30px;
            @include for-1200-px {
                gap: 24px;
            }
            @include for-750-px {
                column-gap: 50px;
                row-gap: 20px;
            }
            .item {
                min-width: 160px;
                @include for-1200-px {
                    min-width: auto;
                    width: max-content;
                }
            }
            .text {
                margin-bottom: 8px;
                font-family: "Inter";
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #ad475c;
                @include for-1200-px {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
            .subtext {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
                @include for-1200-px {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
        .text-description {
            grid-area: text-description;
            flex-wrap: wrap;
            display: flex;
            gap: 26px;
            @include for-1200-px {
                gap: 21px;
            }
            @include for-750-px {
                gap: 20px;
            }
            .item {
                display: flex;
                align-items: center;
                &:nth-child(1) {
                    width: 180px;
                }
                &:nth-child(2) {
                    width: 200px;
                }
                &:nth-child(3) {
                    width: 260px;
                }
            }
            .image {
                margin-right: 14px;
                width: 38px;
                height: 38px;
            }
            .text {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
                color: #000000;
                @include for-1200-px {
                    font-size: 16px;
                }
            }
        }
    }
}
