.reviews-page {
    .promocode {
        width: 980px;
        height: 320px;
        margin: 0 auto 100px;
        background: #ffffff;
        background-image: url(../images/coupon-bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 -37px;
        position: relative;
        @include for-1200-px {
            width: 755px;
            height: 247px;
            margin: 0 auto 60px;
            background-position: 0 -28px;
        }
        @include for-750-px {
            margin: 0 auto 40px;
            width: 288px;
            height: 395px;
            background-image: url(../images/coupon-mobile.png);
            background-position: 0 0;
        }
        .text {
            font-family: "ZonaPro";
            font-style: normal;
            font-weight: 800;
            font-size: 75px;
            line-height: 88px;
            text-transform: uppercase;
            color: #ffffff;
            position: absolute;
            left: 90px;
            top: 35px;
            @include for-1200-px {
                font-size: 60px;
                line-height: 76px;
                left: 70px;
                top: 20px;
            }
            @include for-750-px {
                font-size: 31px;
                line-height: 36px;
                left: 50%;
                transform: translateX(-50%);
            }
            &.second {
                top: 128px;
                font-size: 65px;
                line-height: 76px;
                @include for-1200-px {
                    font-size: 60px;
                    top: 85px;
                }
                @include for-750-px {
                    font-size: 31px;
                    line-height: 36px;
                    top: 60px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .get {
            padding: 18px 74px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Inter";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            background: #ffffff;
            position: absolute;
            left: 90px;
            bottom: 35px;
            @include for-1200-px {
                left: 70px;
                bottom: 20px;
            }
            @include for-750-px {
                width: 240px;
                height: 60px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .from {
            padding: 12px 20px;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 20px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 31px;
            color: #000000;
            position: absolute;
            bottom: 92px;
            left: 394px;
            transform: rotate(-4.77deg);
            @include for-1200-px {
                font-size: 20px;
                line-height: 24px;
                left: 350px;
                bottom: 65px;
            }
            @include for-750-px {
                padding: 8px 16px;
                font-size: 16px;
                line-height: 19px;
                left: 122px;
                bottom: 271px;
            }
        }
        .percent {
            width: 222px;
            height: 222px;
            position: absolute;
            bottom: 54px;
            right: 90px;
            transform: rotate(19.19deg);
            @include for-1200-px {
                width: 160px;
                height: 160px;
                right: 50px;
                bottom: 45px;
            }
            @include for-750-px {
                width: 180px;
                height: 180px;
                bottom: 90px;
            }
        }
    }
}
