.reviews-page {
    .other-schools {
        overflow: hidden;
        margin-bottom: 100px;
        @include for-1200-px {
            margin-bottom: 60px;
        }
        @include for-750-px {
            margin-bottom: 40px;
        }
        .cards {
            margin-bottom: 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            @include for-1200-px {
                gap: 23px;
                margin-bottom: 20px;
            }
            @include for-750-px {
                margin-bottom: 10px;
            }
            .card {
                width: 351px;
                height: 425px;
                border: 1px solid #b2aaaa;
                @include for-1200-px {
                    width: 236px;
                    height: 364px;
                }
                @include for-750-px {
                    width: 100%;
                    max-height: 270px;
                    height: min-content;
                }
                .top {
                    height: 92px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px;
                    border-bottom: 1px solid #b2aaaa;
                    @include for-750-px {
                        height: 72px;
                        padding: 10px 20px;
                    }
                    .logo {
                        width: 139px;
                        height: 29px;
                        object-fit: contain;
                        @include for-1200-px {
                            width: 102px;
                            height: 22px;
                        }
                    }
                    .wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .star-wrapper {
                            display: flex;
                            align-items: center;
                            .star {
                                width: 26px;
                                height: 25px;
                                margin-right: 2px;
                            }
                            .number {
                                font-family: "Inter";
                                font-style: normal;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 29px;
                                color: #000000;
                            }
                        }
                        .subnumber {
                            font-family: "Inter";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            color: #b2aaaa;
                        }
                    }
                }
                .middle {
                    padding: 20px;
                    height: 276px;
                    overflow-y: auto;
                    @include for-1200-px {
                        height: 215px;
                    }
                    @include for-750-px {
                        max-height: 161px;
                        height: min-content;
                        padding: 10px 20px;
                    }
                    .school-name {
                        margin-bottom: 20px;
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                        color: #000000;
                        @include for-1200-px {
                            font-size: 16px;
                            line-height: 19px;
                        }
                    }
                    .text {
                        font-family: "Inter";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        color: #000000;
                        @include for-1200-px {
                            font-size: 12px;
                            line-height: 140%;
                        }
                    }
                }
                .bottom {
                    height: 57px;
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-top: 1px solid #b2aaaa;
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: right;
                    text-decoration-line: underline;
                    color: #ad475c;
                    @include for-750-px {
                        height: 37px;
                        padding: 10px 20px;
                    }
                }
                &.collapsed {
                    display: none;
                }
            }
        }
        .show-more {
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: right;
            text-decoration-line: underline;
            cursor: pointer;
            color: #ad475c;
            @include for-1200-px {
                font-size: 14px;
                line-height: 17px;
            }
            .collapsed-show-more {
                display: none;
            }
            &.collapsed {
                margin-top: 0;
                .collapsed-show-more {
                    display: block;
                }
                .opened-show-more {
                    display: none;
                }
            }
        }
    }
}
